.titleText {
  background: linear-gradient(108deg, #0894ff, #c959dd 34%, #ff2e54 68%, #ff9004);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.listContainer {
  display: block;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.deviceIcon {
  width: 20px;
  height: 20px;
  user-select: none;
  pointer-events: none;
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

html[data-theme='dark'] .deviceIcon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
