.timer {
  display: flex;
  gap: 2rem; /* 30px / 16px = 1.875rem */
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .timer {
    display: grid; /* Change to grid for 2x2 layout */
    grid-template-columns: repeat(2, auto); /* 2 columns */
    gap: 2rem; /* Row and column gap set to x (30px / 16px = 1.875rem) */
  }
}

.title {
  font-size: 5em;
  text-align: center;
}

.message {
  font-size: 3em;
  text-align: center;
}
