# Auto detect text files and perform LF normalization
* text=auto

*.cpp linguist-documentation=false
*.mdx linguist-documentation=false
*.md linguist-documentation=false
*.md linguist-detectable=true
