.time {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .time {
    gap: 20px;
  }
  .time > * {
    flex: 1 1 45%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.year {
  font-size: 5em;
}

.message {
  font-size: 3em;
}
