.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  background-color: var(--ifm-color-primary);
  color: #ffffff;
  border-radius: 8px;
}

@media (max-width: 576px) {
  .headerSection {
    flex-direction: column;
    align-items: flex-start;
  }
}

.title {
  font-size: 2rem;
  margin: 0;
}

.description {
  font-weight: 700;
  opacity: 0.8;
  margin: 0;
}

.momentCount {
  font-size: 1.2rem;
  font-weight: 700;
  opacity: 0.8;
}

.imageContainer {
  margin: 0.5rem 0;
}

.hr {
  margin: 0.5rem 0;
}

.momentMeta {
  color: var(--ifm-color-emphasis-700);
  font-size: 0.9rem;
}
