.headerSection {
  background-color: var(--ifm-color-primary);
  color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
}

.title {
  font-size: 2rem;
  margin: 0;
}

.description {
  font-weight: 700;
  opacity: 0.8;
  margin: 0;
}

.imageContainer {
  margin: 0.5rem 0;
}

.hr {
  margin: 0.5rem 0;
}
