.titleText {
  background: linear-gradient(108deg,#0894FF,#C959DD 34%,#FF2E54 68%,#FF9004);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* linear-gradient(to bottom right,#0096FF,#BB64FF,#F55273) */
