.slider {
  --slider-thumb-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}

.input {
  width: 100%;
  accent-color: var(--ifm-color-primary);
  cursor: pointer;
}

.ticks {
  position: relative;
  height: 0.78rem;
  font-size: 0.78rem;
  line-height: 1;
  color: var(--ifm-color-emphasis-600);
  font-weight: 500;
  font-feature-settings: 'tnum';
}

.tick {
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
  left: calc(
    var(--slider-thumb-size) / 2 + var(--slider-tick-ratio) *
      (100% - var(--slider-thumb-size))
  );
}
