.time {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .time {
    gap: 20px;
  }
  .time > * {
    flex: 1 1 45%;
  }
}

.title {
  font-size: 5em;
  text-align: center;
}

.message {
  font-size: 3em;
  text-align: center;
}
