.sectionNav {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 960px;
  margin-inline: auto;
  padding: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  min-width: 0;
  gap: 1rem;
}

.postToc > nav {
  margin: 0;
}

@media (max-width: 996px) {
  .container {
    padding: 1rem;
  }
}
