.topBanner {
  font-size: 20px;
  padding: 30px 20px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topBannerTitle {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

@media only screen and (max-width: 768px) {
  .topBannerTitle {
    font-size: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .topBanner {
    padding: 15px 10px;
  }

  .topBannerTitle {
    font-size: 32px;
  }
}

.topBannerTitleText {
  /* background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b); */
  background: linear-gradient(
    108deg,
    #0894ff,
    #c959dd 34%,
    #ff2e54 68%,
    #ff9004
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow-wrap: break-word;
  word-break: break-word;
}

.topBannerTitleText:hover {
  border-bottom: solid 2px;
  border-color: rgb(152 0 255);
  text-decoration: none;
}

.topBannerDescription {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .topBannerDescription {
    font-size: 16px;
    white-space: normal;
  }
}
