.item {
  margin-bottom: 1.5rem;
}

/* 设备卡片样式 */
.deviceCard {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  flex: 1 1 30%;
  max-width: 300px;
  height: 100%;
}

/* 设备图标样式 - 只有图标不可选中 */
.deviceCard img {
  width: 36px;
  height: 36px;
  margin-bottom: 0.5rem;
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(0%)
    contrast(100%);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

/* 暗色模式下的图标 */
html[data-theme='dark'] .deviceCard img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

/* 设备容器样式 */
.deviceContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

/* 设备容器中的子元素边距 */
.deviceContainer > div {
  margin: 0.5rem;
}
