.circle {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 8;
  stroke: #e7e7e7;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

[data-theme='dark'] .circle svg circle {
  stroke: #282828;
}

.circle svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.circle div {
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 3em;
  user-select: none;
}

.circle div span {
  position: absolute;
  font-size: 0.1em;
  font-weight: 300;
  transform: translateX(-50%) translateY(-10px);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  user-select: none;
}

.dots {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

.dots::before {
  content: '';
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  background-color: var(--clr);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}
